
:root{
    /* color definition variable */
    --blue: rgb(82,148,226);
    --red: rgb(224, 78, 78);

    --color-hover: rgb(36, 36, 36);
    --color-border: rgba(64, 68, 73, 0.5);
    /* --color-element: rgba(35, 39, 42, 0.6); */
    --color-element: rgba(32, 28, 28, 0.6);
    --color-element-full:rgba(32, 29, 29, 0.822);
    /* --color-body-background: rgb(26, 24, 24); */ /* Lastest background-color */
    --color-body-background: #111;
    --color-hover: var(--color-border);
    
}

// USER DASHBOARD MODIFICATiON PANEL
main.user-dash-main{
    section.dashadmin-section{
        div.dashadmin-topmid{
            div.display-tournaments{
                div.tournois-line-user{
                    display: grid;
                    text-align: center;
                    gap: 0px;
                    grid-template-columns: repeat(8, 1fr);
                    margin: 20px 10px; 
                    span{
                        padding: 0 15px; 
                    }
                    span:nth-child(3){
                        grid-column: 3/5;
                        width: 80%;
                    }
                    span:nth-child(4){
                        grid-column: 5/7;
                    }
                    a.edit{
                        // background-color: green;
                        width: 50%;
                        margin: auto;
                        padding: 8px 0px;
                        text-align: centers;
                    }
                    a{
                        img{
                            height: 25px;;
                        }
                    }
                    span, a{
                        border-radius: 5px;
                    }
                    a:hover{
                        background-color: var(--color-hover);
                    }
                }
            }
        }
    }
}
main.main-matchtournois{
    // display: none;
    #loaderdiv{
        width: 75vw;
        height: 50vh;
        // border: 1px solid red;
        // background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 100px;
            height: 100px;
            animation: spin 2s linear infinite;
            position: absolute;
            margin-left: 150px;
            margin: auto;
        }
    }
    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
    section.topsec{
        border: 1px solid rgb(73, 73, 73);
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 15px;
        text-align: center;
        h2.title{
            text-align: center;
            font-size: 28px;
        }
        span.sub{
            text-align: center;
        }
        div.grid{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            text-align: left;
            border: 1px solid rgb(73, 73, 73);
            border-radius: 5px;
            padding: 5px;
            width: 70%;
            margin: auto;
            margin-top: 15px;
            h3{
                color: lightgrey;
                font-weight: 400;
            }
            span{
                font-weight: 700;
                font-size: 18px;
                letter-spacing: 1px;
            }
        }
        section.bottom-top{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            div.addt{
                border: 1px solid rgb(73, 73, 73);
                // margin-top: 15px;
                border-radius: 5px;
                padding: 5px;
                div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    select, option{
                        color: black;
                        padding: 4px;
                        margin: 5px;
                        width: 70%;
                        border-radius: 3px;
                    }
                    select:focus{
                        outline: none;
                    }
                    button{
                        background-color: var(--red);
                        padding: 2px 9px;
                        border: 1px solid var(--red);
                        border-radius: 3px;
                        text-transform: uppercase;
                        font-size: 14px;
                        transition: .2s;
                        // width: 20%;
                    }
                    button:hover{
                        cursor: pointer;
                        background-color: rgb(182, 45, 45);
                        border: 1px solid rgb(182, 45, 45);
                    }
                }
            }
            div.generationdiv{
                margin: 0 25px; 
                a{
                    background-color: var(--blue);
                    display: flex;
                    align-items: center;
                    border-radius: 5px;
                    text-transform: uppercase;
                    padding-right: 15px;
                    transition: .2s;
                    img{
                        height: 45px;
                        margin: 5px;
                    }
                }
                a:hover{
                    background-color: rgb(54, 107, 171);
                }
            }
        }        
    }
    section.forequipesection{
        display: flex;
        // height: 120px;
        // overflow-y: scroll;
        border: 1px solid rgb(73, 73, 73);
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 30px;
        div.forequipediv{
            // padding-left: 55px;
            align-items: center;
            width: 30%;
            margin: 5px;
            border: 1px solid rgb(73, 73, 73);
            border-radius: 5px;
            div{
                display: flex;
                justify-content: space-between;
                // align-items: center;
                padding: 5px;
                padding-bottom: 15px;;
                article{
                    span{
                        color: lightgrey;
                        padding-left: 10px;
                        border-left: 1px solid rgb(73, 73, 73);
                    }
                    span.score{
                        border: 1px solid white;
                        // display: flex;
                        // justify-content: center;
                        // align-items: center;
                        background-color: var(--color-hover);
                        border-radius: 5px;
                        padding: 0 5px;
                    }
                }
            }
            a{
                grid-column: 3;
                img{
                    height: 35px;
                }
            }
        }
    }
    section.display-poule{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        div.line-poule{
            padding: 10px;
            border: 1px solid white;
            border-radius: 5px;
            margin: 5px;
            // width: 80%;
            h3{
                text-align: center;
                // border: 1px solid var(--red);
                border-radius: 5px;
                background-color: var(--color-hover);
                padding: 3px;
                span{
                    background-color: var(--red);
                    border-radius: 5px;
                    margin: 5px 10px;
                }
            }
            p{
                display: flex;
                width: 40%;
                margin: auto;
                justify-content: space-between;
                span{
                    color: lightgrey;
                }
            }
            p:nth-child(4){
                span{
                    font-weight: 500;
                }
                font-weight: 700; 
            }
            a{
                display: flex;
                justify-content: center;
                margin-top: 15px;
                img{
                    height: 35px;
                    margin: auto;
                }
            }
        }
    }
}
main.main-edit-tournois{
    section.dashcap-section{
        display: flex;
        justify-content: center;
        // background-color: green;
        border: 1px solid var(--color-hover);
        border-radius: 5px;
        padding: 15px;
        width: 70%;
        margin: auto;

        div.ajout-joueurs{
            margin: 0 25px;
            form{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                // background-color: green;
                margin: 15px 0;
                input{
                    height: 18px;
                }
                button{
                    background-color: var(--red);
                    border: none;
                    border-radius: 5px;
                    padding: 5px;
                    transition: .2s;
                }
                button:hover{
                    cursor: pointer;
                    background-color: rgb(182, 45, 45);
                }
            }
        }
        div.equinscr{
            border-left: 1px solid var(--color-hover);
            padding-left: 25px;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            p{
                border: 1px solid var(--color-hover);
                border-radius: 5px;
                background-color: var(--color-hover);
                padding: 10px;
                margin: 5px;
                width: 100%;
            }
        }
    }
}
main.main-dash-editform-match{
    section{
        div{
            form{
                display: grid;
                width: 50%;
                margin: auto;
                grid-template-columns: repeat(2, 1fr);
                input{
                    height: 30px;
                    margin: 2px;
                    padding: 2px 8px;
                }
                button, a{
                    background-color: var(--red);
                    border: none;
                    padding: 8px;
                    margin: 10px;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
        }
        div.addt{
            form{
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid grey;
                border-radius: 5px;
                background-color: var(--color-hover);
                select, option{
                    color: black;
                    padding: 0;
                    height: 30px;
                    width: 250px;
                }
            }
        }
    }
}