:root {
  /* color definition variable */
  --blue: rgb(82,148,226);
  --red: rgb(224, 78, 78);
  --color-hover: rgb(36, 36, 36);
  --color-border: rgba(64, 68, 73, 0.5);
  /* --color-element: rgba(35, 39, 42, 0.6); */
  --color-element: rgba(32, 28, 28, 0.6);
  --color-element-full:rgba(32, 29, 29, 0.822);
  /* --color-body-background: rgb(26, 24, 24); */ /* Lastest background-color */
  --color-body-background: #111;
  --color-hover: var(--color-border);
}

@media (max-width: 900px) {
  body header ul.link, body header ul.nav-icon {
    display: none;
  }
  body header h1 {
    width: 150%;
  }
  body header a.icon {
    display: flex;
    height: 50px;
  }
  body header div#mobilenav {
    position: absolute;
    left: 0;
    top: 75px;
    width: 90vw;
    height: 85vh;
    align-items: center;
    border-radius: 2px;
    text-align: center;
    background-color: rgb(40, 40, 40);
    padding: 15px 0;
    flex-direction: column;
  }
  body header div#mobilenav a {
    margin: 5px;
    padding: 15px 0;
    border-radius: 5px;
    border: 1px solid white;
    width: 250px;
  }
  body header div#mobilenav a:nth-child(1) {
    margin-top: 250px;
  }
  body header div#mobilenav a.login-link img {
    height: 50px;
  }
  body section.admin-header {
    width: 90vw;
  }
  body section.index-actu div.annonce-card {
    width: 100%;
  }
  body section.index-actu div.annonce-card img {
    height: 30px;
    width: 30px;
    margin: 0 15px;
  }
  body main.main-tournois div.title-grid {
    margin: 0;
    width: 60%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
  }
  body main.main-tournois div.title-grid span:nth-child(3), body main.main-tournois div.title-grid span:nth-child(4) {
    color: rgb(138, 138, 138);
    font-size: 13px;
  }
  body main.main-tournois a.tournois-line {
    grid-template-columns: repeat(3, 1fr);
  }
  body main.main-tournois a.tournois-line span:nth-child(3), body main.main-tournois a.tournois-line span:nth-child(4) {
    color: rgb(138, 138, 138);
    font-size: 13px;
  }
  body main.main-apropos section.apropos-content div.card {
    flex-direction: column;
    text-align: center;
  }
  body main.main-apropos section.apropos-content p {
    line-height: 30px;
  }
  body main.main-apropos section.apropos-content div.navcompa div.table {
    width: 100%;
  }
  body main.real-main-dashboard section.dashadmin-section {
    grid-template-columns: repeat(1, 1fr);
  }
  body main.user-dash-main section.users-resp div.dashadmin-topmid {
    flex-direction: column;
  }
  body main.user-dash-main section.users-resp div.dashadmin-topmid .display-tournaments {
    width: 75vw;
  }
  body main.user-dash-main section.users-resp div.dashadmin-topmid .display-tournaments div.tournois-line-user {
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }
  body main.user-dash-main section.users-resp div.dashadmin-topmid .display-tournaments div.tournois-line-user div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
  }
  body main.user-dash-main section.users-resp div.dashadmin-topmid .display-tournaments div.tournois-line-user div a {
    border: 1px solid var(--color-border);
    margin: 5px;
  }
  body main.user-dash-main section.users-resp div.dashadmin-topmid .init-tourn {
    width: 75vw;
    margin-left: 0;
    margin-top: 20px;
  }
  body main.user-dash-main section.users-resp div.dashadmin-topmid .init-tourn h3 {
    font-size: 40px;
  }
  body main.main-admin-annonce-form section.form-annonce-section form div.form {
    flex-direction: column;
  }
  body main.main-admin-annonce-form section.form-annonce-section form div.form div.form-parta {
    gap: 10px;
  }
  body main.main-admin-annonce-form section.form-annonce-section form div.form div.textarea {
    margin: 0;
    margin-top: 25px;
    width: 100%;
  }
  body main.main-admin-annonce-form section.form-annonce-section form div.form div.textarea textarea {
    min-width: 100%;
  }
  body main.main-admin-annonce-form section.form-annonce-section form div.form-button {
    margin: auto;
    margin-top: 15px;
  }
  body main.main-admin-annonce-form section.index-actu div.annonce-card-admin {
    width: 100%;
  }
  body main.main-admin-annonce-form section.index-actu div.annonce-card-admin img {
    height: 30px;
    width: 30px;
    margin: 0 15px;
  }
  body main.main-admin-annonce-form section.index-actu div.annonce-card-admin div.text-field p {
    width: 150px;
  }
  body main.main-admin-annonce-form section.index-actu div.annonce-card-admin a.edit {
    margin: 0;
  }
  body main.main-matchtournois section.topsec div.grid {
    text-align: center;
    grid-template-columns: none;
  }
  body main.main-matchtournois section.topsec section.bottom-top {
    flex-direction: column;
  }
  body main.main-matchtournois section.topsec section.bottom-top div.generationdiv {
    margin-top: 15px;
  }
  body main.main-matchtournois section.display-poule {
    grid-template-columns: repeat(1, 1fr);
  }
  body main.main-matchtournois section.display-poule div.line-poule p {
    width: 100%;
  }
  body main.main-matchtournois section.forequipesection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  body main.main-matchtournois section.forequipesection div.forequipediv {
    width: 100%;
  }
}

/*# sourceMappingURL=responsive.css.map */
