:root {
  /* color definition variable */
  --blue: rgb(82,148,226);
  --red: rgb(224, 78, 78);
  --color-hover: rgb(36, 36, 36);
  --color-border: rgba(64, 68, 73, 0.5);
  /* --color-element: rgba(35, 39, 42, 0.6); */
  --color-element: rgba(32, 28, 28, 0.6);
  --color-element-full:rgba(32, 29, 29, 0.822);
  /* --color-body-background: rgb(26, 24, 24); */ /* Lastest background-color */
  --color-body-background: #111;
  --color-hover: var(--color-border);
}

main.user-dash-main section.dashadmin-section div.dashadmin-topmid div.display-tournaments div.tournois-line-user {
  display: grid;
  text-align: center;
  gap: 0px;
  grid-template-columns: repeat(8, 1fr);
  margin: 20px 10px;
}
main.user-dash-main section.dashadmin-section div.dashadmin-topmid div.display-tournaments div.tournois-line-user span {
  padding: 0 15px;
}
main.user-dash-main section.dashadmin-section div.dashadmin-topmid div.display-tournaments div.tournois-line-user span:nth-child(3) {
  grid-column: 3/5;
  width: 80%;
}
main.user-dash-main section.dashadmin-section div.dashadmin-topmid div.display-tournaments div.tournois-line-user span:nth-child(4) {
  grid-column: 5/7;
}
main.user-dash-main section.dashadmin-section div.dashadmin-topmid div.display-tournaments div.tournois-line-user a.edit {
  width: 50%;
  margin: auto;
  padding: 8px 0px;
  text-align: centers;
}
main.user-dash-main section.dashadmin-section div.dashadmin-topmid div.display-tournaments div.tournois-line-user a img {
  height: 25px;
}
main.user-dash-main section.dashadmin-section div.dashadmin-topmid div.display-tournaments div.tournois-line-user span, main.user-dash-main section.dashadmin-section div.dashadmin-topmid div.display-tournaments div.tournois-line-user a {
  border-radius: 5px;
}
main.user-dash-main section.dashadmin-section div.dashadmin-topmid div.display-tournaments div.tournois-line-user a:hover {
  background-color: var(--color-hover);
}

main.main-matchtournois #loaderdiv {
  width: 75vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
main.main-matchtournois #loaderdiv .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  position: absolute;
  margin-left: 150px;
  margin: auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
main.main-matchtournois section.topsec {
  border: 1px solid rgb(73, 73, 73);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
}
main.main-matchtournois section.topsec h2.title {
  text-align: center;
  font-size: 28px;
}
main.main-matchtournois section.topsec span.sub {
  text-align: center;
}
main.main-matchtournois section.topsec div.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: left;
  border: 1px solid rgb(73, 73, 73);
  border-radius: 5px;
  padding: 5px;
  width: 70%;
  margin: auto;
  margin-top: 15px;
}
main.main-matchtournois section.topsec div.grid h3 {
  color: lightgrey;
  font-weight: 400;
}
main.main-matchtournois section.topsec div.grid span {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
}
main.main-matchtournois section.topsec section.bottom-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
main.main-matchtournois section.topsec section.bottom-top div.addt {
  border: 1px solid rgb(73, 73, 73);
  border-radius: 5px;
  padding: 5px;
}
main.main-matchtournois section.topsec section.bottom-top div.addt div {
  display: flex;
  align-items: center;
  justify-content: center;
}
main.main-matchtournois section.topsec section.bottom-top div.addt div select, main.main-matchtournois section.topsec section.bottom-top div.addt div option {
  color: black;
  padding: 4px;
  margin: 5px;
  width: 70%;
  border-radius: 3px;
}
main.main-matchtournois section.topsec section.bottom-top div.addt div select:focus {
  outline: none;
}
main.main-matchtournois section.topsec section.bottom-top div.addt div a {
  background-color: var(--red);
  padding: 2px 9px;
  border: 1px solid var(--red);
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.2s;
  width: 20%;
}
main.main-matchtournois section.topsec section.bottom-top div.addt div a:hover {
  cursor: pointer;
  background-color: rgb(182, 45, 45);
  border: 1px solid rgb(182, 45, 45);
}
main.main-matchtournois section.topsec section.bottom-top div.generationdiv {
  margin: 0 25px;
}
main.main-matchtournois section.topsec section.bottom-top div.generationdiv a {
  background-color: var(--blue);
  display: flex;
  align-items: center;
  border-radius: 5px;
  text-transform: uppercase;
  padding-right: 15px;
  transition: 0.2s;
}
main.main-matchtournois section.topsec section.bottom-top div.generationdiv a img {
  height: 45px;
  margin: 5px;
}
main.main-matchtournois section.topsec section.bottom-top div.generationdiv a:hover {
  background-color: rgb(54, 107, 171);
}
main.main-matchtournois section.forequipesection {
  display: flex;
  border: 1px solid rgb(73, 73, 73);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 30px;
}
main.main-matchtournois section.forequipesection div.forequipediv {
  align-items: center;
  width: 30%;
  margin: 5px;
  border: 1px solid rgb(73, 73, 73);
  border-radius: 5px;
}
main.main-matchtournois section.forequipesection div.forequipediv div {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  padding-bottom: 15px;
}
main.main-matchtournois section.forequipesection div.forequipediv div article span {
  color: lightgrey;
  padding-left: 10px;
  border-left: 1px solid rgb(73, 73, 73);
}
main.main-matchtournois section.forequipesection div.forequipediv a {
  grid-column: 3;
}
main.main-matchtournois section.forequipesection div.forequipediv a img {
  height: 35px;
}
main.main-matchtournois section.display-poule {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main.main-matchtournois section.display-poule div.line-poule {
  padding: 5px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

main.main-edit-tournois section.dashcap-section {
  display: flex;
  justify-content: center;
  border: 1px solid var(--color-hover);
  border-radius: 5px;
  padding: 15px;
  width: 70%;
  margin: auto;
}
main.main-edit-tournois section.dashcap-section div.ajout-joueurs {
  margin: 0 25px;
}
main.main-edit-tournois section.dashcap-section div.ajout-joueurs form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 15px 0;
}
main.main-edit-tournois section.dashcap-section div.ajout-joueurs form input {
  height: 18px;
}
main.main-edit-tournois section.dashcap-section div.ajout-joueurs form button {
  background-color: var(--red);
  border: none;
  border-radius: 5px;
  padding: 5px;
  transition: 0.2s;
}
main.main-edit-tournois section.dashcap-section div.ajout-joueurs form button:hover {
  cursor: pointer;
  background-color: rgb(182, 45, 45);
}
main.main-edit-tournois section.dashcap-section div.equinscr {
  border-left: 1px solid var(--color-hover);
  padding-left: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
main.main-edit-tournois section.dashcap-section div.equinscr p {
  border: 1px solid var(--color-hover);
  border-radius: 5px;
  background-color: var(--color-hover);
  padding: 10px;
  margin: 5px;
  width: 100%;
}

/*# sourceMappingURL=styleS.css.map */
