:root {
  /* color definition variable */
  --blue: rgb(82,148,226);
  --red: rgb(224, 78, 78);
  --color-hover: rgb(36, 36, 36);
  --color-border: rgba(64, 68, 73, 0.5);
  /* --color-element: rgba(35, 39, 42, 0.6); */
  --color-element: rgba(32, 28, 28, 0.6);
  --color-element-full:rgba(32, 29, 29, 0.822);
  /* --color-body-background: rgb(26, 24, 24); */ /* Lastest background-color */
  --color-body-background: #111;
  --color-hover: var(--color-border);
}

main.user-dash-main section.dashadmin-section div.dashadmin-topmid div.display-tournaments div.tournois-line-user {
  display: grid;
  text-align: center;
  gap: 0px;
  grid-template-columns: repeat(8, 1fr);
  margin: 20px 10px;
}
main.user-dash-main section.dashadmin-section div.dashadmin-topmid div.display-tournaments div.tournois-line-user span {
  padding: 0 15px;
}
main.user-dash-main section.dashadmin-section div.dashadmin-topmid div.display-tournaments div.tournois-line-user span:nth-child(3) {
  grid-column: 3/5;
  width: 80%;
}
main.user-dash-main section.dashadmin-section div.dashadmin-topmid div.display-tournaments div.tournois-line-user span:nth-child(4) {
  grid-column: 5/7;
}
main.user-dash-main section.dashadmin-section div.dashadmin-topmid div.display-tournaments div.tournois-line-user a.edit {
  width: 50%;
  margin: auto;
  padding: 8px 0px;
  text-align: centers;
}
main.user-dash-main section.dashadmin-section div.dashadmin-topmid div.display-tournaments div.tournois-line-user a img {
  height: 25px;
}
main.user-dash-main section.dashadmin-section div.dashadmin-topmid div.display-tournaments div.tournois-line-user span, main.user-dash-main section.dashadmin-section div.dashadmin-topmid div.display-tournaments div.tournois-line-user a {
  border-radius: 5px;
}
main.user-dash-main section.dashadmin-section div.dashadmin-topmid div.display-tournaments div.tournois-line-user a:hover {
  background-color: var(--color-hover);
}

main.main-matchtournois section.topsec {
  border: 1px solid var(--color-hover);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
}
main.main-matchtournois section.topsec h2.title {
  text-align: center;
  font-size: 28px;
}
main.main-matchtournois section.topsec span.sub {
  text-align: center;
}
main.main-matchtournois section.topsec div.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: left;
  border: 1px solid var(--color-hover);
  border-radius: 5px;
  padding: 5px;
  width: 70%;
  margin: auto;
  margin-top: 15px;
}
main.main-matchtournois section.topsec div.grid h3 {
  color: lightgrey;
  font-weight: 400;
}
main.main-matchtournois section.topsec div.grid span {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
}
main.main-matchtournois div.forequipediv {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  width: 30%;
}
main.main-matchtournois div.forequipediv h3 {
  grid-column: 1/3;
}
main.main-matchtournois div.forequipediv a {
  grid-column: 3;
}
main.main-matchtournois div.forequipediv a img {
  height: 35px;
}

main.main-edit-tournois section.dashcap-section {
  display: flex;
  justify-content: center;
  border: 1px solid var(--color-hover);
  border-radius: 5px;
  padding: 15px;
  width: 70%;
  margin: auto;
}
main.main-edit-tournois section.dashcap-section div.ajout-joueurs {
  margin: 0 25px;
}
main.main-edit-tournois section.dashcap-section div.ajout-joueurs form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 15px 0;
}
main.main-edit-tournois section.dashcap-section div.ajout-joueurs form input {
  height: 18px;
}
main.main-edit-tournois section.dashcap-section div.ajout-joueurs form button {
  background-color: var(--red);
  border: none;
  border-radius: 5px;
  padding: 5px;
  transition: 0.2s;
}
main.main-edit-tournois section.dashcap-section div.ajout-joueurs form button:hover {
  cursor: pointer;
  background-color: rgb(182, 45, 45);
}
main.main-edit-tournois section.dashcap-section div.equinscr {
  border-left: 1px solid var(--color-hover);
  padding-left: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
main.main-edit-tournois section.dashcap-section div.equinscr p {
  border: 1px solid var(--color-hover);
  border-radius: 5px;
  background-color: var(--color-hover);
  padding: 10px;
  margin: 5px;
  width: 100%;
}

/*# sourceMappingURL=styleS.css.map */
