:root{
    /* color definition variable */
    --blue: rgb(82,148,226);
    --red: rgb(224, 78, 78);

    --color-hover: rgb(36, 36, 36);
    --color-border: rgba(64, 68, 73, 0.5);
    /* --color-element: rgba(35, 39, 42, 0.6); */
    --color-element: rgba(32, 28, 28, 0.6);
    --color-element-full:rgba(32, 29, 29, 0.822);
    /* --color-body-background: rgb(26, 24, 24); */ /* Lastest background-color */
    --color-body-background: #111;
    --color-hover: var(--color-border);
    
}

@media (max-width: 900px) {
    *{
        // border: 1px solid red;
    }
    body{
        header{
            // border: 1px solid rgb(148, 148, 148);
            ul.link, ul.nav-icon{
                display: none;
            }
            h1{
                width: 150%;
            }
            a.icon{
                display: flex;
                height: 50px;
            }
            ul#mobilenav{
                position: absolute;
                left: 0;
                top: 75px;
                width: 90vw;
                border-radius: 2px;
                text-align: center;
                background-color: rgb(40, 40, 40);
                padding: 15px 0;
                flex-direction: column;
                // border: 1px solid white;
                li{
                    margin: 10px;
                    border-left: 1px solid white;
                    border-right: 1px solid white;
                    a{
                        // color: black;
                        // border-bottom: 2px solid black;
                        border-radius: 0;
                    }
                }
                li.login-link{
                    img{
                        height: 50px;
                    }
                }
            }
        }
        section.index-actu{
            div.annonce-card{
                width: 100%;
                img{
                    height: 30px;
                    width: 30px;
                    margin: 0 15px;
                }
            }
        }
        main.main-tournois{
            div.title-grid{
                margin: 0;
                width: 60%;
                margin: auto;
                grid-template-columns: repeat(2, 1fr);
                // display: none;
                span:nth-child(3), span:nth-child(4){
                    color: rgb(138, 138, 138);
                    font-size: 13px;
                }
            }
            a.tournois-line{
                // margin:
                grid-template-columns: repeat(3, 1fr);
                span:nth-child(3), span:nth-child(4){
                    color: rgb(138, 138, 138);
                    font-size: 13px;
                }
            }
        }
        main.main-apropos{
            section.apropos-content{
                div.card{
                    flex-direction: column;
                    text-align: center;
                }
                p{
                    line-height: 30px;
                }
                div.navcompa{
                    div.table{
                        width: 100%;
                    }
                }
            }
        }
    }
}
