@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    a{text-decoration: none;}
    ul{list-style: none;}
}
:root{
    --colora: rgb(33, 34, 39);
    --colorb: #494b5e;
    --colorc: #272932;
    --colord: #F2F7F2;
    --colore: #d33636;
}

body{
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    width: 60%;
    margin:auto;

    background-color: var(--colorc);

    // FIRST BACKGROUND
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000000' stroke-width='32.2' stroke-opacity='0.05' %3E%3Ccircle fill='%23595E72' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%2354596c' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23505465' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%234b4f5f' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23464a58' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23424552' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%233d404c' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23393b46' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23343640' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%2330323a' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%232c2d35' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2327292f' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23232429' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%231f2024' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%231b1c1e' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23171719' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23131314' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%230D0D0D' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    // background-attachment: fixed;
    // background-size: cover;


    header{
        // background-color: var(--colorb);
        background-color: var(--colorb);
        position: fixed;
        width: 60%;
        border-radius: 5px;
        display:flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 15px;
        padding: 10px 0px; 
        h1 a{
                color: white;
                letter-spacing: 4px;
                font-weight: 900;
        }
        .nav{
            display: flex;

            li{
                margin: 0px 3px;
                a{
                    color: white;
                    // text-transform: uppercase;
                    transition: .4s;
                    padding: 5px 10px;
                    border-radius: 3px;
                    letter-spacing: 1px;
                    font-weight: 700;
                }
                a:hover{
                    background-color: var(--colorc);
                }
            }
            li:last-child{
                a{
                    background-color: var(--colore);
                    margin-left: 10px;
                }
            }   
        }
        .mobile-menu{
            display: none;
            input{
                display: none;
            }
            label img{
                height: 50px;
            }
        }
        .mobilemenu-closed{
            display: none;
        }
        .mobilemenu-open{
            display: none;
            height: 100vh;
            width: 100vw;
            background-color: yellow;
            position: absolute;
        }
    }
    
    //div for fixed margin-top issu w header
    div.margin-header{background-color: var(--colorc); height: 70px;}
    main{
        background-color: var(--colorb);
        border-radius: 5px;
    }
    main.main-index{
        height: 100vh;
        margin-top: 15px;

    }
    
}

@media (max-width: 850px) { 
    body{
        width: 100%;
        header{
            width: 100%;
            margin-top: 0;
            .nav{
                display:none;
            }
            .mobile-menu{
                display: flex;
            }
        }
    }


}
