@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*
font-family: 'Comfortaa', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

*{
    padding: 0;
    margin: 0;
    list-style: none;
    color:white;
    letter-spacing: .6px;
}
* a{ text-decoration: none; }

:root{
    /* color definition variable */
    --blue: rgb(82,148,226);
    --red: rgb(224, 78, 78);

    --color-hover: rgb(36, 36, 36);
    --color-border: rgba(64, 68, 73, 0.5);
    --color-element: rgba(35, 39, 42, 0.6);
    --color-body-background: rgb(26, 24, 24);
    --color-hover: var(--color-border);
}

/* GLOBAL PAGES SETTINGS */
body{
    background-color: var(--color-body-background);
    font-family: 'Roboto', sans-serif;
    width: 55vw;
    margin: auto;
}
header{
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 15px;
    background-color: var(--color-element);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55vw;
    padding: 7px 0px;
    min-width: 590px;
    backdrop-filter: blur(50px);
}
main{
    margin-top: 120px;
}
/* HEADER TITLE DIV */
header h1{
    margin-top: -5px;
    letter-spacing: 3px;
}
header .icon{
    display: none;
}
/* HEADER NAV DIV */
header .nav{
    /* display: flex; */
    align-items: center;
}
header .nav span{
    color: grey;
    margin: 0 5px;
}
header .nav li a{
    margin: 2px;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 8px 12px;
    border-radius: 5px;
    transition: .5s;
}
header .nav li a:hover{
    background-color: var(--color-hover);
    border: 1px solid var(--color-border);
}
header .nav .login-link a:hover{ /*Hover issu so disable it ftm*/
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
}
header .nav .login-link img{
    height: 35px;
}
header .nav li ul{ /* FOR DROPDOWN MENU*/
    display: none;
}



/* INDEX PAGE STYLE */
.main-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    text-align: center;
}
.main-home .main-content{
    margin-top: -250px;
}
.main-home .main-content h1{
    -webkit-text-stroke: 1px white;
    color: rgba(255, 255, 255, 0);
    font-size: 55px;
    margin: 15px;
}
.main-home .main-content a{
    background-color: var(--red);
    padding: 10px 15px;
    border-radius: 5px;
}

/* LOGIN PAGE STYLE */
.main-login{
    /* height: 100vh; */
    margin-bottom: 50vh;
}
.main-login form{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 150px auto;
    width: 200px;
}
.main-login form input{
    padding: 5px 8px;
    color: black;
    margin: 10px;
}
.main-login form button{
    background-color: var(--red);
    width: 60%;
    padding: 10px 10px;
    margin: 10px auto;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
}
.main-login .logout-button{
    background-color: var(--red);
    padding: 8px 15px;
    border-radius: 5px;
    transition: .2s;
}
.main-login .logout-button:hover{
    background-color: rgb(147, 41, 41);
}
.logout-div{
    display: flex;
    justify-content: center ;
    margin-top: 250px;
}

/* FOOTER STYLE */
footer{
    text-align: center;
    border-top: 2px solid var(--color-border);
    padding-top: 50px;
}

/* RESPONSIVE STYLE SETTINGS */
@media (max-width: 700px) {
    header{
        /* background-color: green; */
        width: 90vw;
        min-width: 0vh;
    }
    header .icon{
        display: flex;
        height: 50px;
    }
    header .nav{
        background-color: var(--color-element);
        backdrop-filter: blur(50em);
        width: 90vw;
        height: 90vh;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
    }
}

.nonactive{
    display: flex;
}
.active{
    display: flex;
}
