@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*
font-family: 'Comfortaa', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

*{
    padding: 0;
    margin: 0;
    list-style: none;
    color:white;
    letter-spacing: .6px;
    /* border: 1px solid red; */
}
* a{ text-decoration: none; }
input, textarea { color: black;}


:root{
    /* color definition variable */
    --blue: rgb(82,148,226);
    --red: rgb(224, 78, 78);

    --color-hover: rgb(36, 36, 36);
    --color-border: rgba(64, 68, 73, 0.5);
    /* --color-element: rgba(35, 39, 42, 0.6); */
    --color-element: rgba(32, 28, 28, 0.6);
    --color-element-full:rgba(32, 29, 29, 0.822);
    /* --color-body-background: rgb(26, 24, 24); */ /* Lastest background-color */
    --color-body-background: #111;
    --color-hover: var(--color-border);
    
}

/* GLOBAL PAGES SETTINGS */
body{
    /* background-color: var(--color-body-background); */
    /* background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% ); */
    
    background: #1a1d22 ;
    background: linear-gradient(to right, #14161a, #2d3b46);
    
    /* background: linear-gradient(to right, #000000, #ffffff); */
    /* background-size: 200% 200%; */
    /* animation: gradient-animation 10s ease infinite; */

    font-family: 'Poppins', sans-serif;
    width: 75vw;
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */
body::-webkit-scrollbar { width: 0 !important } /* Hide scroll bar*/
header{
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 15px;
    /* background-color: var(--color-element); */
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    padding: 7px 0px;
    padding-bottom: 10px;
    min-width: 590px;
    backdrop-filter: blur(20px);
    z-index: 2  ;
    transition: .1s;
}
main{
    margin-top: 150px;
    animation: openPage 2s;
}
@keyframes openPage {
    from{
        opacity: 0;
        /* filter: blur(5px); */
    }
    to{
        opacity: 1;
        /* blur:(0px); */
    }
}

/* HEADER TITLE DIV */
header h1{
    letter-spacing: 3px;
}   
header > a, header .nav-icon{
    margin: 0px 40px;
}
header .icon{
    display: none;
}

/* HEADER NAV DIV */
header li a{
    margin: 2px;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 8px 12px;
    border-radius: 5px;
    transition: .3s;
}
header .link{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
header .link li a:hover{
    background-color: var(--color-hover);
    border: 1px solid var(--color-border);
}
header .nav-icon{
    margin-top: 10px;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}
header .nav-icon .login-link a:hover{ /*Hover issu so disable it ftm*/
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
}
header .nav-icon .login-link img{
    height: 35px;
}
header .nav-icon li a:hover{
    background-color: var(--color-hover);
    border: 1px solid var(--color-border);
}
.scroll-style{
    border: 2px solid var(--color-border);
    /* background-color: var(--color-body-background);
    backdrop-filter: blur(10px); */

}
.admin-header{
    height: 30px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 100px;
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-element-full);
    backdrop-filter: blur(10px);
    z-index: 2;
}
.admin-header ul{
    color: grey;
}
.admin-header a{
    color: rgb(199, 199, 199);
    padding: 2px 12px;
    transition: .3s;
    border-radius: 5px;
    margin: 0px 5px;
}
.admin-header a:hover{
    color: rgb(255, 255, 255);
    background-color: var(--color-hover);
}
.admin-header ul{
    display: flex;
}
.title{
    border-bottom: 1px solid rgb(73, 73, 73);
    padding-bottom: 3px;
    margin-bottom: 25px;
}

/* INDEX PAGE STYLE */
.main-home{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* padding-top: 150px; */
    text-align: center;
}
.main-home .main-content{
    margin-top: -250px;
}
.main-home .main-content h1{
    -webkit-text-stroke: 1px white;
    color: rgba(255, 255, 255, 0);
    font-size: 55px;
    margin: 15px;
}
.main-home .main-content a{
    background-color: var(--red);
    padding: 10px 15px;
    border-radius: 5px;
}
/* INDEX ANNONCE SECTION */
.index-actu h2{
    text-align: center;
    margin-bottom: 15px;
}
.index-actu .annonce-card{
    /* background-color: green; */
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--color-border);   
    margin-bottom: 15px;
}
.index-actu .annonce-card .text-field{
    margin: 15px 0px;
    margin-right: 10px;
}

.index-actu .annonce-card img{
    height: 165px;
    width: 165px;
    border-radius: 5px; 
    margin: 10px;

}

.index-actu .annonce-card .text-field p.date{
    color: rgb(136, 133, 133);
    font-style: oblique 20deg;
}

.index-actu .annonce-card .text-field span.role{
    /* color: rgb(255, 255, 255); */
}
.index-actu .annonce-card .text-field p:last-child{
    margin-top: 5px;
    font-family: Roboto;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--color-border);
}




/* LOGIN PAGE STYLE */
.main-login{
    /* height: 100vh; */
    margin-bottom: 50vh;
}
.main-login form{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 150px auto;
    width: 200px;
}
.main-login form input{
    padding: 5px 8px;
    color: black;
    margin: 10px;
}
.main-login form button{
    background-color: var(--red);
    width: 60%;
    padding: 10px 10px;
    margin: 10px auto;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
}
.logout-div{
    display: flex;
    justify-content: center ;
    margin-top: 250px;
    text-align: center;
}
.logout-div .logout-button{
    background-color: var(--red);
    line-height: 90px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: .2s;
}
.logout-div .logout-button:hover{
    background-color: rgb(147, 41, 41);
}

/* INFORMATION  PAGE STYLE */
section.information-content{
    margin-left: 20px;
    line-height: 29px;
}
section.information-content pre{
    background-color: rgb(52, 52, 52);
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 15px;
}

/* STATISTIQUES PAGE STYLE */
section.stats-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 151px;
    grid-gap: 7px;

}
section.stats-section div{
    border: 1px solid var(--color-border);
    background-color: var(--color-element);
    border-radius: 5px;
}
section.stats-section div.file-counter{
    background-color: var(--color-element);
}
section.stats-section div.file-counter h3{
    margin: 5px;
}
section.stats-section div.file-counter div{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7px 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    align-items: center;
}
section.stats-section div.file-counter div span, section.stats-section div.file-counter p {
    padding: 5px 12px;
}
section.stats-section div.file-counter > p{
    margin: 22px 15px;
}
section.stats-section div.file-counter div p{
    background-color: var(--color-element-full);
    border: 1px solid var(--color-border);
    border-radius: 5px;
}
section.stats-section div.file-counter div p:hover{
    background-color: var(--color-hover);
    border: 1px solid var(--color-border);
    border-radius: 5px;
}

/* A PROPOS PAGE STYLE */
.main-apropos .apropos-content p{
    line-height: 22px;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 15px;
}
.main-apropos .apropos-content p span{
    background-color: var(--color-element);
    padding: 5px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
}
.main-apropos .apropos-content p span:hover{
    background-color: var(--color-hover);
    user-select: none;
}
.main-apropos .apropos-content .apropos-title{
    display: flex;
    justify-content: center;
}
.main-apropos .apropos-content .apropos-title h1{
    margin: 0;
}
.main-apropos .apropos-content .apropos-title :nth-child(1){
    animation: up1 4s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
.main-apropos .apropos-content .apropos-title :nth-child(2){
    animation: up1 4s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}
.main-apropos .apropos-content .apropos-title :nth-child(3){
    animation: up1 4s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
.main-apropos .apropos-content .apropos-title :nth-child(4){
    animation: up1 4s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
}
.main-apropos .apropos-content .apropos-title :nth-child(5){
    animation: up1 4s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
@keyframes up1{
    0%{
        transform: translateY(0px);
    }
    30%{
        transform: translateY(-10px);
    }
    60%{
        transform: translateY(0px);
    }
}
.main-apropos .apropos-content h1{
    font-size: 55px;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
    text-align: center;
    margin: 35px;
}
.main-apropos .apropos-content div.card{
    display: flex;
    justify-content: center;
    margin: 15px;
}
.main-apropos .apropos-content div.card .apropos-personnalcard{
    background-color: var(--color-element-full);
    margin: 15px;
    border-radius: 5px;
    border: 1px solid var(--color-border);
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-apropos .apropos-content div.card .apropos-personnalcard:hover{
    background-color: var(--color-hover);
    cursor: pointer;
}
.main-apropos .apropos-content div.card .apropos-personnalcard img{
    width: 50px;
    border-radius: 50%;
    margin: 10px auto;
    filter: grayscale(1);
}

/* TOURNOIS PAGE STYLE */

.main-tournois .tournois-line{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 15px 0px;
    border : 1px solid var(--color-border);
    /* text-align: center; */
    border-radius: 5px;
    align-items: center;
}
.main-tournois .title-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 15px 0px;
    text-align: center;
    margin-left: -55px;
    border-radius: 5px;
    align-items: center;
}
.main-tournois .title-grid span{
    letter-spacing: 1px;
    color: var(--red);
}
.main-tournois .title-grid span:nth-child(2){
    grid-column: 2 / 4;
}
.main-tournois .tournois-line:hover{
    background-color: var(--color-hover);
}
.main-tournois .tournois-line span:nth-child(2){
    grid-column: 2 / 4;
}
.main-tournois .tournois-line span{
    /* background-color: green; */
    margin: 5px 10px;
}

/* DASHBOARD ADMIN */
.main-dashboard .dashadmin-section .dashadmin-topgrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    height: 200px;
    text-align: center;
    align-items: center;
    margin: 15px 0px;
}
.main-dashboard .dashadmin-section .dashadmin-topmid{
    /* background-color: green; */
    /* height: 150px; */
    display: flex;
}
.main-dashboard .dashadmin-section .dashadmin-topmid .display-tournaments{
    width: 60%;
    background-color: var(--color-element);
}
.main-dashboard .dashadmin-section .dashadmin-topmid .display-tournaments .tournois-line{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-radius: 2px;
    border: 1px solid var(--color-border);
    margin: 3px 12px;
}
.main-dashboard .dashadmin-section .dashadmin-topmid .display-tournaments .tournois-line:nth-child(1){
    margin-top: 15px;
}
.main-dashboard .dashadmin-section .dashadmin-topmid .display-tournaments .tournois-line:last-child{
    margin-bottom: 15px;
}
.main-dashboard .dashadmin-section .dashadmin-topmid .display-tournaments .tournois-line span{
    /* background-color: green;     */
    margin: 2px;
    padding: 5px;
}
.main-dashboard .dashadmin-section .dashadmin-topmid .display-tournaments .tournois-line span:nth-child(2){
    grid-column: 2 / 5;
}
.main-dashboard .dashadmin-section .dashadmin-topmid .display-tournaments .tournois-line div{
    grid-column: 5 / 7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-dashboard .dashadmin-section .dashadmin-topmid .display-tournaments .tournois-line div a{
    padding: 2px 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    transition: .2s;
    cursor: pointer;
    border-radius: 2px;
}
.main-dashboard .dashadmin-section .dashadmin-topmid .display-tournaments .tournois-line div a:hover{
    background-color: var(--color-hover);
}
.main-dashboard .dashadmin-section .dashadmin-topmid .display-tournaments .tournois-line div a img{
    height: 25px;
}
.main-dashboard .dashadmin-section .dashadmin-topmid .init-tourn{
    width: 40%;
    margin-left: 5px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-dashboard .dashadmin-section .dashadmin-topmid .init-tourn h3{
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-size: 55px;
    text-transform: uppercase;
}
.main-dashboard .dashadmin-section .dashadmin-topmid .init-tourn a{
width: 65px;
height: 65px;
transition: .3s;
}
.main-dashboard .dashadmin-section .dashadmin-topmid .init-tourn a:hover{
    cursor: pointer;
    background-color: var(--color-hover);
    border-radius: 50%;
}
.main-dashboard .dashadmin-section .dashadmin-topmid .init-tourn a img{
    height: 55px;
    width: 55px;
    margin: 3px 3px;
}
.dashadmin-card{
    background-color: var(--color-element);
    border: 1px solid var(--color-border);
    border-radius: 6px;
    height: 100%;
}
.main-dashboard .dashadmin-section .dashadmin-topmid #tcreationmenu{
    position: absolute;
    backdrop-filter: blur(12px);
    top: 15vh;
    left: 10vw;
    height: 80vh;
    width: 80vw;
    background-color: rgba(35, 94, 107, 0.345);
    animation: editableanim .5s;
}
@keyframes editableanim {
    from {
        opacity: 0;
        transform: translate(105px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}
.main-dashboard .dashadmin-section .dashadmin-topmid #tcreationmenu header{
    /* background-color: green; */
    height: 25px;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main-dashboard .dashadmin-section .dashadmin-topmid #tcreationmenu header a{
    cursor: pointer;
}

.main-dashboard .dashadmin-section .dashadmin-topmid #tcreationmenu header img{
    margin-top: 5px;
    margin-right: -30px;
    height: 35px;
}

/* ANNONCES FORM STYLE */

.main-admin-annonce-form .form{
    display: flex;
    justify-content: center;
}
.main-admin-annonce-form .form-parta{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 25px;
}
.main-admin-annonce-form .form-parta input{
    margin-bottom: 5px;
    padding: 5px 12px;
}
.main-admin-annonce-form .form .textarea{
    margin: 0 25px;
}
.main-admin-annonce-form .form .textarea label{
    line-height: 25px;
}

.main-admin-annonce-form .form textarea{
    width: 80%;
    min-width: 700px;
    padding: 5px;
    min-height: 120%;
    resize: none;
}
.main-admin-annonce-form .form-button{
    text-align: center;
    margin-top: 20px;
    width: 40%;
}
.main-admin-annonce-form form button{
    background-color: var(--red);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}


/* EDIT FORM TOURNOIS DASHBOARD ADMIN */
.main-editform-dashbadmin .edit-form-section{
    /* text-align: center; */
}
.main-editform-dashbadmin .edit-form-section form{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding-top: 15px;
    width: 40%;
}
.main-editform-dashbadmin .edit-form-section form input{
    border-radius: 2px;
    grid-column: 2 / 4;

    border: none;
    padding: 5px;
}
.main-editform-dashbadmin .edit-form-section form button{
    grid-column: 2;
    margin: auto;
    background-color: var(--red);
    border: none;
    margin-top: 25px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}
.main-editform-dashbadmin .edit-form-section form button:hover{
    background-color: rgb(147, 41, 41);
}


/* FOOTER STYLE */
footer{
    text-align: center;
    border-top: 2px solid var(--color-border);
    padding-top: 50px;
    margin-top: 50px;
}

/* RESPONSIVE STYLE SETTINGS */
@media (max-width: 700px) {
    header{
        width: 90vw;
        min-width: 0vh;
    }
    header .icon{
        display: flex;
        height: 50px;
    }
    header .nav{
        display: none;
        background-color: var(--color-element);
        backdrop-filter: blur(50em);
        width: 90vw;
        height: 90vh;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
    }
    /* PAS FONCTIONNEL POUR LE MOMENT, A FINIR */
    /* .active{
        display: flex;
    }
    .nonactive{
        display: none;
    } */
}
